---
layout: default
---

<article class="px-4 pb-8 lg:px-0 lg:pb-20">
    <h1 class="text-4xl font-semibold tracking-tight text-stone-700">
        {{ page.title }}
    </h1>

    <time
        datetime="{{ page.date | date_to_xmlschema }}"
        class="text-sm text-stone-500"
    >
        {% if page.type != 'pages' %}
            Published on {{ page.date | date: "%A" }}, {{ page.date | date_to_long_string }}
        {% endif %}
    </time>

    <div
        class="mt-4 prose lg:mt-8 max-w-none prose-stone prose-headings:text-stone-700 prose-pre:bg-white"
    >
        {{ content }}
    </div>
</article>
